@import "tailwindcss";

*::selection {
  @apply bg-[#31F900] text-black
}

html {
  @apply scroll-smooth
}

body {
    @apply bg-black
}

.max-width {
    @apply max-w-[1220px] mx-auto px-2 md:px-5
}

header nav a:hover,
footer nav a:hover {
    @apply text-[#31F900]
}

.btn {
    @apply px-6 py-[10px] rounded-4xl font-semibold
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background-color: #32F900; /* green track */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: black; /* black thumb */
  border-radius: 5px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #2ad800; /* greenish hover effect */
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black #32F900;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.23%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.title {
  @apply text-white text-[27px] md:text-4xl mt-3
}